<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045736003040-r2s3af0aljjlmvahp94b6creidkp5o4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045736003040-r2s3af0aljjlmvahp94b6creidkp5o4o</string>
	<key>API_KEY</key>
	<string>AIzaSyDR78YiIpTA6nCYyMQn6JWIc4Twpk_XjUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1045736003040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.hammock.plusprayer</string>
	<key>PROJECT_ID</key>
	<string>plusprayer</string>
	<key>STORAGE_BUCKET</key>
	<string>plusprayer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045736003040:ios:9b78a7aa5365ab406dc785</string>
</dict>
</plist>